body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}

.maindiv {
    background-color: white;
    width: 500px;
    padding: 20px;
    color: black;
    border-radius: 25px;
    margin: auto;
}

.result-span {
    background-color: yellow;
}

.section {
    padding-left: 60px;
    padding-right: 50px;
}

.field-set-no-border {
    border: 0;
}

.form-label {
    text-align: left;
    clear: both;
    float:left;
    margin-right:15px;
    width: 100px;
}

.form-label-button {
    text-align: left;
    clear: both;
    float:left;
    margin-right:15px;
    width: 100%;
}